
* {
    font-family: 'Pacifico', cursive;
}

h1{
    background-color: black;
    color: blueviolet;
    padding: 50px;
    text-align: center;
    border-color:wheat;
    border-width: 5px;
    border-style: solid;
}

.paragraph1{
    background-color: aqua;
    color: brown;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;

}

.paragraph2{
    background-color:palevioletred;
    color: black;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;

}

.paragraph3{
    background-color: chocolate;
    color: blue;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;

}
.container :hover{
    background-color: rgb(255, 255, 255) ;
    margin-top: 30px;
    padding: 50px;
}

.nb{
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    position: fixed;
    width: 100%;
    top: 0;


}
.nav-ul,.nav-li{
    display: inline;
}

.nav-ul{
    margin-left: 65%;
}

.nav-li{
    padding: 20px;
}

.nav-li:hover{
    background-color:cadetblue;
}
.link{
    color: red;
}

.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    
}

.footer a{
    background-color: palevioletred;
    transition: 4ms;

}

.footer a:hover {
    color:black;
}